In [1]:
# STOCK PREDICTION USING ML

# DEVELOPED BY: 
# MOULISHANKAR M.R
# VIGNESHWAR RAVICHANDAR

# IMPORTING REQUIRED MODULES
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression

In [4]:
data = pd.read_csv("data/Stock Quantity Sold.csv")
data

   S.No Product  08-2020  09-2020  10-2020  11-2020
0     1     RAM       12       34       45       65
1     2     CPU       24       13       30       10
2     3     GPU       70       47       23       41