In [21]:
# STOCK PREDICTION USING ML

# DEVELOPED BY: 
# MOULISHANKAR M.R
# VIGNESHWAR RAVICHANDAR

# IMPORTING REQUIRED MODULES
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression

In [22]:
data = pd.read_csv("data/Quantity Sold.csv")
data

   No.Months    Month  Prod 1  Prod 2  Prod 3
0          1  01-2020      12      23      45
1          2  02-2020      45      34      21
2          3  03-2020      34      32      35
3          4  05-2020      14      45      34

In [23]:
mon = 0
x = []

In [24]:
initial_str= data["Month"][0]
initial = dt.datetime(int(initial_str[3:]),int(initial_str[:2]),1)

In [25]:
for i in range(len(data["Month"])):
    final_str=data["Month"][i]
    final = dt.datetime(int(final_str[3:]),int(final_str[:2]),1)
    diff = (final.year - initial.year) * 12 + (final.month - initial.month)
    x.append(diff)

In [28]:
x = np.array(x,dtype = int)
x = x.reshape(len(x),1)
x

array([[0],
       [1],
       [2],
       [4]])

In [27]:
prod = input("Enter the product name: ")
y = np.array(data[prod],dtype = int)
y = y.reshape(len(y),1)
y

array([[12],
       [45],
       [34],
       [14]])

In [34]:
tp_str = input("Enter the time period: ")
tp = dt.datetime(int(tp_str[3:]),int(tp_str[:2]),1)
pred_diff =(tp.year - initial.year) * 12 + (tp.month - initial.month)
pred_diff = np.array(pred_diff,dtype = int)
pred_diff = pred_diff.reshape(-1,1)
pred_diff

array([[14]])